<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<main>
    @Html.Partial("Banner")
    <div class="row">
        <div class="col">
            @RenderSection("PreBody", required: false)
        </div>
    </div>
    @RenderBody()
</main>
<footer>
    <div>
        <a href="@Url.Action("Privacy", "Home")">GO TO PRIVACY</a>
    </div>
</footer>