@using Microsoft.AspNetCore.Components
@using Newtonsoft.Json
@{
    List<Profile> profili = new List<Profile>();
    profili.Add(new Profile("Pinco", "Panco", 99));
    profili.Add(new Profile("Caio", "Sempronio", 18));
    profili.Add(new Profile("Tizio", "Caio", 60));

    string headerBackgroundColor = "#F00000";

    int MiaFunzione(int n)
    {
        return n + 1;
    }
}

@section PreBody
{
    <div style="background: @headerBackgroundColor; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <h1 style="color: #FFFFFF">IL MIO INDICE</h1>
    </div>
    @MiaFunzione(4)
}

<div class="text-center">
    <div>
        @foreach (var profilo in profili)
        {
            <div class="row">
                <div class="col"><p>@profilo.Name</p></div>
                <div class="col">@profilo.Lastname</div>
                <div class="col">@profilo.Age</div>
            </div>
        }
    </div>
</div>