@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@section PreBody
{
    <div style="background: #FF0000; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <h1 style="color: #FFFFFF">LA MIA PRIVACY</h1>
    </div>
}

<p>Use this page to detail your site's privacy policy.</p>
